# Node.js dependencies
/server/node_modules
/client/node_modules

# Environment variables
/server/.env
/client/.env

# Logs
/client/logs
/client/*.log
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/pnpm-debug.log*
/client/lerna-debug.log*

/clientdist
/clientdist-ssr
/client*.local

# Editor directories and files
/client.vscode/*
/client!.vscode/extensions.json
/client.idea
/client.DS_Store
/client*.suo
/client*.ntvs*
/client*.njsproj
/client*.sln
/client*.sw?